.question-start {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.question-start__title {
  font-size: 32px;
  color:#293264;
}

.question-start__description {
  color: #293264;
}

.question-start__button {
  background-color: #4D5B9E;
  border: 1px solid #4D5B9E;
  height: 52px;
  width: 193px;
  border-radius: 15px;
  color: #fff;
}